body {
    display:flex;
    flex-direction: column;
    line-height: 1.5;
    background-color: var(--bgcolor);
}

header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: darkolivegreen;
    color: var(--tan);
    background-image: url("https://previews.123rf.com/images/backgroundstore/backgroundstore1207/backgroundstore120700234/14440793-program-code-green-background.jpg");
    border-bottom: #70643f solid  20px;
/* the url() will put the sourced image as the background for this header  */
}
h1 {
    display:flex;
    font-size: 200%;
    background-color:wheat;
    padding: 30px;
    font-family: "OCR A Std", monospace ;
  

}
img {
    display: flex;
    background-size: cover;
    margin-left: 2%;
    height: 400px;
    width: 100%;
    z-index: 0;
    border-top: 15px solid var(--bgcolor);

}
nav ul {
    display: flex;
/* This will put space in between my items in my nav */
    justify-content: space-between;
    min-width: 300px;
}
nav a {
    display: flex;
    background-color: wheat;
    color: var(--tan);
    font-weight: bold;
    text-decoration: none;
    padding: 30px;
    font-family: "OCR A Std", monospace ;
   
}
div a {
    display: flex;
    color: var(--tan);
    font-weight: bold;
    text-decoration: none;
    padding: 30px;
    font-family: "OCR A Std", monospace ;
}
.about-me {
    display:flex;
    font-size: 100%;
    background-color: var(--bgcolor); 
    font-family: "OCR A Std", monospace ;
    margin-left:10%;
   
    
}
#about-title {
    font-size: 300%;
    background-color: var(--bgcolor); 
    font-family: "OCR A Std", monospace ;
    border-right:var(--rborder);
    margin-left: 0%;
    color: var(--tan);
}

#work-title {
    font-size: 300%;
    background-color: var(--bgcolor); 
    font-family: "OCR A Std", monospace ;
    border-right:var(--rborder);
    margin-left: 0%;
    color: var(--tan);
}
.about-me p {
    margin:5%;
    color: var(--tan);
    background-color: var(--bgcolor);
}

.my-work {
    display:flex;
    font-size: 100%;
    background-color: var(--bgcolor); 
    font-family: "OCR A Std", monospace ;
    margin-left:10%;
    margin-top: 5%;
    
}
.repos {
    display:flex;
    font-size: 100%;
    background-color: var(--bgcolor); 
    font-family: "OCR A Std", monospace ;
    margin-left:0%;
    margin-top: 5%;
    
}


.centered {
    position: absolute;
    color: darkolivegreen;
    text-shadow: 4px 4px black;
    font-weight: bold;
    font-size: 300%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
#workday-planner {
    position:relative;
    display:block;
    height: 100%;
    width: 100%;
    border: var(--border);
    margin-left: 10px;;
}

#waifu-said {
    position:relative;
    display:block;
    height: 100%;
    width: 100%;
    border: var(--border);
    margin-left: 10px;;
}
#horiseon-image {
    position:relative;
    display:block;
    height: 100%;
    width: 100%;
    border: var(--border);
    margin-left: 10px;;
}


.placeholder-images {
    display:flex;
    flex-wrap: wrap;
    height: 325px;
    width: 25%;
    border: var(--border);
    margin-right: 20px;
}
#contact-title {
    font-size: 300%;
    background-color: var(--bgcolor); 
    font-family: "OCR A Std", monospace ;
    border-right:var(--rborder);
    margin-left: 0%;
    color: var(--tan);

}
.contact-me {
    margin-top: 5%;
    display:flex;
    font-size: 100%;
    background-color: var(--bgcolor); 
    font-family: "OCR A Std", monospace ;
    margin-left:10%;
}

.contact-me ul {
    display: flex;
    flex-direction: row;
    margin:5%;
    color: var(--tan);
    background-color: var(--bgcolor);
}
 
article a {
    display: flex;
    color: var(--tan);
    font-weight: bold;
    text-decoration: none;
    padding: 80px;
    font-family: "OCR A Std", monospace ;
    z-index: 1;
}

footer {
    height:30px;
    background-color: var(--green);
    color:var(--bgcolor);
    text-align: center;
}
/* this will place the placeholder images on top of one another when the screen size shrinks below 940 */
@media screen and (max-width: 940px) {
    .placeholder-images {
        flex-direction: column;
        flex: 25%;
        order:2;
        width: 100%;
    }
    nav {
        flex-direction: column;
    }
}